body {
    background: rgb(57, 57, 57);
    justify-content: center;
    color: white;
}

a.navbar-brand {
    color: rgb(50, 170, 2);
}

a.nav-link {
    color: rgb(50, 170, 2);
}

p.nav-link {
    color: rgb(50, 170, 2);
}

.container {
    align-items: center;
    justify-content: center;
}

.container h1{
    color: white;
}